
body{

    background-image: url("../Pages/GameBackground.jpg");
    background-color: #cccccc;
    background-repeat:no-repeat;
    background-size: cover;

}


.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
}


.GameDetails{
    font-size: x-small;
    font-color:gold;
    grid-column: 1/2;
    grid-row: 1/2;


}

.PlayersDetails{
    font-size: x-small;
    font-color:gold;
    grid-column: 1/2;
    grid-row: 2/3;

}

.Board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-column: 2/7;
    grid-row: 1/4;


}


#Winners{
    grid-column: 2/6;
    grid-row: 1/4;
    text-align:center;
}

h2{

    color: gold;

}

#winners_table{


}

.Actions{
    grid-column: 1/6;
    grid-row: 4;
    font-size: medium;
    text-align: center;


}

#exit_game_form
{
    float: left;
}

.tableplayer
{
    width: 10%;
}


#table
{
    width:350px;
    height:200px;
}

#player2
{
    grid-column: 7/9;
    grid-row: 1;

    position: relative;


}

#player1
{
    grid-column: 3/5;
    grid-row: 1;
    position: relative;

}

#player6
{
    grid-column: 2/4;
    grid-row: 2;
    position: relative;

}

#player5{
    grid-column: 3/5;
    grid-row: 3;
    position: relative;

}


.board_cards{

    width:5.5%;
    height: 15%;
    float: right;

}

#player4
{
    grid-column: 6/8;
    grid-row: 3;
    position: relative;

}

#player3
{
    grid-column: 8/10;
    grid-row: 2;

    position: relative;

}


#tablediv{
    grid-column: 4/6;
    grid-row: 2/3;
    margin-left: auto;
    margin-right: auto;


}


.myturn
{
    border-color: gold;
    border-style: dotted;
}

#table_img{
    position: absolute;
    z-index: -1;
}

#card_board_images{
    position: absolute;
    top:260px;
    right: 31%;
}


.card1{

    width:50px;
    height: 70px;
    top:20%;
    right: 0%;
    position: absolute;
}

.card2{

    width:50px;
    height: 70px;
    top:20%;
    right: 25%;
    position: absolute;
}

h3{
    color: gold;
}

table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 200px;
    height: 20px;
    font-size: x-small;
    position: relative;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color:gold;
}

.players
{


}