
body{

    background-image: url("../Pages/GameBackground.jpg");
    background-color: #cccccc;
    background-repeat:no-repeat;
    background-size: cover;

}


.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
}


.GameDetails{
    font-size: x-small;
    font-color:gold;
    grid-column: 1/2;
    grid-row: 1/2;
    border: purple;
    border-style: dotted;


}

.PlayersDetails{
    font-size: x-small;
    font-color:gold;
    grid-column: 1/2;
    grid-row: 2/3;
    border: blue;
    border-style: dotted;
}

.Board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-column: 2/6;
    grid-row: 1/4;
    border: gold;
    border-style: dotted;
}

.Actions{
    grid-column: 1/6;
    grid-row: 4;
    font-size: medium;
    text-align: center;
    border: green;
    border-style: dotted;
}

.tableplayer
{
    width: 10%;
}


#table
{
    width:350px;
    height:200px;
}

#player1
{
    grid-column: 6/9;
    grid-row: 1;
    border-color: black;

}

#player2
{
    grid-column: 2/5;
    grid-row: 1;
    border-color: brown;
}

#player3
{
    grid-column: 1/4;
    grid-row: 2;
    border-color: chartreuse;
}

#player4{
    grid-column: 2/5;
    grid-row: 3;
}


.board_cards{

    width:5.5%;
    height: 10%;
    float: right;

}

#player5
{
    grid-column: 6/9;
    grid-row: 3;
}

#player6
{
    grid-column: 7/10;
    grid-row: 2;
}


#tablediv{
    grid-column: 4/6;
    grid-row: 2/4;
    margin-left: auto;
    margin-right: auto;
    border-color: blue;
    border-style: dotted;

}


#table_img{
    position: absolute;
    z-index: -1;
}

#card_board_images{
    position: absolute;
    top:250px;
    right: 32%;
}


.card1{

    width:20%;
    height: 15%;
    float: right;
}

.card2{

    width:20%;
    height: 15%;
    float: right;
}

h3{
    color: gold;
}

table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 200px;
    height: 20px;
    font-size: x-small;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color:gold;
}

.players
{
    border: aqua;
    border-style: dotted;
}