table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 200px;
    height: 20px;
    font-size: x-small;
}


body{

    background-image: url("../Pages/GameBackground.jpg");
    background-color: #cccccc;
    background-repeat:no-repeat;
    background-size: cover;

}

.GameDetails{
    grid-column: 1/2;
    grid-row: 1;
    font-color:gold;
    width:25%;
    float: left;
    border: purple;
    border-style: dotted;
}

.PlayersDetails{
    grid-column: 1/2;
    grid-row: 2;
    font-color:gold;
    width:25%;
}

h3{
    color: gold;
}

.grid-container{
    display: grid;
    grid-column: 2/4;
    grid-row: 1/3;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(100px,auto);
    width: 70%;
    border: gold;
    border-style: dotted;
    float: right;
    top:0;
    right:0;
 }

.players
{
    height: 10%;
    width: 10%;
}

#player1
{
    grid-column: 1/2;
    grid-row: 1;
}

#player2
{
    grid-column: 4/5;
    grid-row: 1;
}

#player3
{
    grid-column: 1/2;
    grid-row: 3;
}

#player4{
    grid-column: 4/5;
    grid-row: 3;
}

#player5
{
    grid-column: 3/4;
    grid-row: 5;
}

#tablediv{
    grid-column: 2/4;
    grid-row: 2/3;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#table
{
    width:350px;
    height:200px;
}

.actions{
    grid-column: 1/5;
    grid-row: 7;
    font-size: medium;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color:gold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
}
