body{
    background-image: url("../Pages/LobbyBackground.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
    border: dotted;
    border-color: gold;
    color: gold;

}


pane{
    background-color: beige;
    border-color: gold;
    
}